/* ==============================================================
/*	COLORES
/* ============================================================== */
.blue-1 { color: #00AFD7; }
.blue-2 { color: #009CDE; }
.blue-3 { color: #407EC9; }
.blue-4 { color: #236192; }
.blue-5 { color: #002554; }

.grey-1 { color: #eeeeee; }
.grey-2 { color: #454545; }

.bg-blue-1 { background-color: #00AFD7; }
.bg-blue-2 { background-color: #009CDE; }
.bg-blue-3 { background-color: #407EC9; }
.bg-blue-4 { background-color: #236192; }
.bg-blue-5 { background-color: #002554; }

.bg-grey-1 { background-color: #eeeeee; }
.bg-grey-2 { background-color: #454545; }
/* colores */